In [1]:
import pandas as pd

In [19]:
df_laptops = pd.read_csv('laptop_price.csv', encoding='latin1')

In [3]:
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

## Drop Duplicates() method

### Find cheap and most expensive laptops using .drop_duplicates()  method

In [6]:
# sort the dataframe
df_laptops = df_laptops.sort_values(['Company', 'Price_euros'])
df_laptops.tail()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
191,195,Vero,K147 (N3350/4GB/32GB/FHD/W10),Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Celeron Dual Core N3350 1.1GHz,4GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.3kg,260.00
877,888,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.28kg,935.00
192,196,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.3kg,999.90
184,188,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1199.00
514,521,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1399.95

In [12]:
# removing the duplicates in our dataframe ( keep = 'first' ) cheap laptops from each company
df_cheap_laptops = df_laptops.drop_duplicates(['Company'])[['Company', 'Price_euros']]
df_cheap_laptops

        Company  Price_euros
1215       Acer       174.00
1         Apple       898.94
20         Asus       191.90
30        Chuwi       244.99
340        Dell       274.90
983     Fujitsu       649.00
472      Google      1275.00
1268         HP       209.00
170      Huawei      1349.00
909          LG      1899.00
1272     Lenovo       229.00
1169        MSI       839.00
626    Mediacom       239.00
457   Microsoft       989.00
1117      Razer      1029.00
430     Samsung       269.00
159     Toshiba       447.00
1120       Vero       196.00
877      Xiaomi       935.00

In [10]:
# removing the duplicates elements from the company col, (keep = 'last') 
df_expensive_laptops = df_laptops.drop_duplicates(['Company'], keep='last')[['Company', 'Price_euros']]
df_expensive_laptops

        Company  Price_euros
1189       Acer      2599.00
17        Apple      2858.00
1066       Asus      3975.00
421       Chuwi       449.00
723        Dell      3659.40
623     Fujitsu       799.00
437      Google      2199.00
749          HP      4389.00
214      Huawei      1499.00
678          LG      2299.00
610      Lenovo      4899.00
177         MSI      2799.00
580    Mediacom       389.00
449   Microsoft      2589.00
196       Razer      6099.00
874     Samsung      1849.00
491     Toshiba      2799.00
191        Vero       260.00
514      Xiaomi      1399.95

In [18]:
# Ignore_index argument
# by default it is set to false, if we set it to true we will have a new index to #our dataframe

df_ignore_index = df_laptops.drop_duplicates(['Company'], keep = 'last', ignore_index=True)[['Company','Price_euros' ]]
df_ignore_index

      Company  Price_euros
0        Acer      2599.00
1       Apple      2858.00
2        Asus      3975.00
3       Chuwi       449.00
4        Dell      3659.40
5     Fujitsu       799.00
6      Google      2199.00
7          HP      4389.00
8      Huawei      1499.00
9          LG      2299.00
10     Lenovo      4899.00
11        MSI      2799.00
12   Mediacom       389.00
13  Microsoft      2589.00
14      Razer      6099.00
15    Samsung      1849.00
16    Toshiba      2799.00
17       Vero       260.00
18     Xiaomi      1399.95

### Exercise

Task:
Find the biggest and smallest screen size in laptops for each company using sort_values() and duplicated() methods (keep first last and false)

In [20]:
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [23]:
# sort the dataframe
df_laptops_sort = df_laptops.sort_values(['Company', 'Inches'])
df_laptops_sort.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
319,324,Acer,TravelMate B,Notebook,11.6,1366x768,Intel Pentium Quad Core N3710 1.6GHz,4GB,128GB Flash Storage,Intel HD Graphics 405,Windows 10,1.4kg,485.0
461,468,Acer,TravelMate B,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,128GB SSD,Intel HD Graphics 400,Windows 10,1.4kg,435.0
560,567,Acer,Spin SP111-31,2 in 1 Convertible,11.6,IPS Panel Full HD / Touchscreen 1920x1080,Intel Celeron Dual Core N3350 2.0GHz,4GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.25kg,349.0
619,626,Acer,CB5-132T-C9KK (N3160/4GB/32GB/Chrome,2 in 1 Convertible,11.6,IPS Panel Touchscreen 1366x768,Intel Celeron Quad Core N3160 1.6GHz,4GB,32GB Flash Storage,Intel HD Graphics 400,Chrome OS,1.25kg,379.0
695,703,Acer,TravelMate B117-M,Netbook,11.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg,269.0

In [24]:
# marking the duplicates elements in company col
df_laptops_size_first = df_laptops_sort.duplicated(['Company'], keep='first')
df_laptops_size_first

319     False
461      True
560      True
619      True
695      True
        ...
1041     True
192     False
877      True
184      True
514      True
Length: 1303, dtype: bool

In [27]:
# filtering the dataframe 
df_laptops_sort[~df_laptops_size_first][['Company', 'Inches']]
# list of smallest laptops from each company

        Company  Inches
319        Acer    11.6
1234      Apple    11.6
20         Asus    11.6
421       Chuwi    12.3
455        Dell    11.6
567     Fujitsu    15.6
437      Google    12.3
677          HP    11.6
170      Huawei    13.0
909          LG    14.0
50       Lenovo    10.1
785         MSI    14.0
429    Mediacom    11.6
70    Microsoft    13.5
816       Razer    12.5
430     Samsung    11.6
963     Toshiba    12.5
1120       Vero    13.3
192      Xiaomi    13.3

### Exercise: filtering biggest laptops

In [31]:
# marking the duplicate from the sort df
df_laptops_size_last = df_laptops_sort.duplicated(['Company'], keep='last')
df_laptops_size_last

319      True
461      True
560      True
619      True
695      True
        ...
1041    False
192      True
877      True
184      True
514     False
Length: 1303, dtype: bool

In [35]:
# filtering the dataframe
df_laptops_sort[~df_laptops_size_last][['Company', 'Inches']]

# biggest screen size from each company

        Company  Inches
1216       Acer    17.3
17        Apple    15.4
1256       Asus    17.3
483       Chuwi    15.6
1243       Dell    17.3
983     Fujitsu    15.6
762      Google    12.3
1136         HP    17.3
214      Huawei    13.0
905          LG    15.6
1217     Lenovo    17.3
177         MSI    18.4
718    Mediacom    14.0
670   Microsoft    13.5
830       Razer    17.3
593     Samsung    15.6
1042    Toshiba    15.6
1041       Vero    14.0
514      Xiaomi    15.6

### Solving the same exercise using the drop_duplicates() method

In [37]:
# sorting the df
df_laptops_sort = df_laptops.sort_values(['Company', 'Inches'])

In [39]:
# smallest screen size:
df_laptops_size_screen_small = df_laptops_sort.drop_duplicates(['Company'], keep='first', ignore_index=True)[['Company', 'Inches']]
df_laptops_size_screen_small

      Company  Inches
0        Acer    11.6
1       Apple    11.6
2        Asus    11.6
3       Chuwi    12.3
4        Dell    11.6
5     Fujitsu    15.6
6      Google    12.3
7          HP    11.6
8      Huawei    13.0
9          LG    14.0
10     Lenovo    10.1
11        MSI    14.0
12   Mediacom    11.6
13  Microsoft    13.5
14      Razer    12.5
15    Samsung    11.6
16    Toshiba    12.5
17       Vero    13.3
18     Xiaomi    13.3

In [41]:
# Biggest screen size:
df_laptops_screen_size_big = df_laptops_sort.drop_duplicates(['Company'], keep='last', ignore_index=True)[['Company', 'Inches']]
df_laptops_screen_size_big

      Company  Inches
0        Acer    17.3
1       Apple    15.4
2        Asus    17.3
3       Chuwi    15.6
4        Dell    17.3
5     Fujitsu    15.6
6      Google    12.3
7          HP    17.3
8      Huawei    13.0
9          LG    15.6
10     Lenovo    17.3
11        MSI    18.4
12   Mediacom    14.0
13  Microsoft    13.5
14      Razer    17.3
15    Samsung    15.6
16    Toshiba    15.6
17       Vero    14.0
18     Xiaomi    15.6

### Practice Exercise

In [42]:
## Exercise1: Find the 3 most expensive and 3 cheapest laptops overall.
## then show only their companny, product and price

In [47]:
df_laptops= pd.read_csv('Laptop_price.csv', encoding='latin1')

In [48]:
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [68]:
df_laptops_sort = df_laptops.sort_values(['Company', 'Price_euros'])
df_laptops_sort.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1215,1233,Acer,C740-C9QX (3205U/2GB/32GB/Chrome,Netbook,11.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,32GB SSD,Intel HD Graphics,Chrome OS,1.3kg,174.0
290,295,Acer,Chromebook C910-C2ST,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,16GB SSD,Intel HD Graphics,Chrome OS,2.19kg,199.0
1102,1117,Acer,Chromebook 15,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,4GB,16GB SSD,Intel HD Graphics,Chrome OS,2.20kg,209.0
695,703,Acer,TravelMate B117-M,Netbook,11.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg,269.0
1198,1216,Acer,Aspire 3,Notebook,15.6,1366x768,Intel Celeron Dual Core N3350 2GHz,4GB,1TB HDD,Intel HD Graphics 500,Linux,2.1kg,272.0

In [67]:
df_laptops_cheap_price =  df_laptops_sort.drop_duplicates(['Company'], keep='first')
df_laptops_cheap_price
# displaying only first three cheap laptops
df_laptops_first_cheap = df_laptops_cheap_price.sort_values('Price_euros')
df_laptops_first_cheap.head(3)[['Company', 'Product','Price_euros']]

     Company                           Product  Price_euros
1215    Acer  C740-C9QX (3205U/2GB/32GB/Chrome        174.0
20      Asus                   Vivobook E200HA        191.9
1120    Vero  V131 (X5-Z8350/4GB/32GB/FHD/W10)        196.0

In [82]:
# 3 most expensive laptops
df_laptops_expensive_price = df_laptops_sort.drop_duplicates('Company', keep='last')
df_laptops_expensive_first = df_laptops_expensive_price.sort_values( by=['Price_euros'], ascending=False)
df_laptops_expensive_first[['Company', 'Product', 'Price_euros']].head(3)

    Company       Product  Price_euros
196   Razer     Blade Pro       6099.0
610  Lenovo  Thinkpad P51       4899.0
749      HP      Zbook 17       4389.0