In [2]:
import pandas as pd

In [4]:
df_laptops = pd.read_csv('laptop_price.csv', encoding='latin1')

In [5]:
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

### Isin() method

#####  it is used to filter df based on conditions

In [6]:
# Condition: Either apple or hp laptop
df_laptops['Company'].isin(['Apple', 'HP'])

0        True
1        True
2        True
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301     True
1302    False
Name: Company, Length: 1303, dtype: bool

In [12]:
# Filtering Df based on above condition
df_laptops[df_laptops['Company'].isin(['Apple', 'HP'])].info()

<class 'pandas.core.frame.DataFrame'>
Index: 295 entries, 0 to 1301
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         295 non-null    int64
 1   Company           295 non-null    object
 2   Product           295 non-null    object
 3   TypeName          295 non-null    object
 4   Inches            295 non-null    float64
 5   ScreenResolution  295 non-null    object
 6   Cpu               295 non-null    object
 7   Ram               295 non-null    object
 8   Memory            295 non-null    object
 9   Gpu               295 non-null    object
 10  OpSys             295 non-null    object
 11  Weight            295 non-null    object
 12  Price_euros       295 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 32.3+ KB

### Multiple conditions

In [13]:
# condition: Either Ultrabook or Notebook of HP or Apple laptops

# Define variables for conditions

filter1 = df_laptops['TypeName'].isin(['Ultrabook', 'Notebook'])
filter2 = df_laptops['Company'].isin(['Apple', 'HP'])

In [14]:
# Create series of our conditions
filter1 & filter2

0        True
1        True
2        True
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301     True
1302    False
Length: 1303, dtype: bool

In [16]:
# filter df based on our conditions
df_laptops[filter1 & filter2].info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 0 to 1301
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         241 non-null    int64
 1   Company           241 non-null    object
 2   Product           241 non-null    object
 3   TypeName          241 non-null    object
 4   Inches            241 non-null    float64
 5   ScreenResolution  241 non-null    object
 6   Cpu               241 non-null    object
 7   Ram               241 non-null    object
 8   Memory            241 non-null    object
 9   Gpu               241 non-null    object
 10  OpSys             241 non-null    object
 11  Weight            241 non-null    object
 12  Price_euros       241 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 26.4+ KB