In [1]:
import pandas as pd

In [40]:
df = pd.read_csv('laptop_price.csv',encoding='latin1')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [41]:
# find the cheap and expensive laptop from each company
df_sort = df.sort_values(by=['Company','Price_euros'])

In [45]:
# finding duplicates in company col

df_duplicates = df_sort.duplicated('Company')

In [ ]:
# dataframe (duplicate values)
df[df_duplicates][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_27088\3522021840.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df_duplicates][['Company','Price_euros']]

     Company  Price_euros
0      Apple      1339.69
2         HP       575.00
3      Apple      2537.45
4      Apple      1803.60
5       Acer       400.00
...      ...          ...
1298  Lenovo       638.00
1299  Lenovo      1499.00
1300  Lenovo       229.00
1301      HP       764.00
1302    Asus       369.00

[1284 rows x 2 columns]

In [49]:
# non duplicates dataframe 
"""Cheap Laptops from each company"""
df[~df_duplicates][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_27088\1605380359.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_duplicates][['Company','Price_euros']]

        Company  Price_euros
1         Apple       898.94
20         Asus       191.90
30        Chuwi       244.99
159     Toshiba       447.00
170      Huawei      1349.00
340        Dell       274.90
430     Samsung       269.00
457   Microsoft       989.00
472      Google      1275.00
626    Mediacom       239.00
877      Xiaomi       935.00
909          LG      1899.00
983     Fujitsu       649.00
1117      Razer      1029.00
1120       Vero       196.00
1169        MSI       839.00
1215       Acer       174.00
1268         HP       209.00
1272     Lenovo       229.00

### Most Expensive laptops

In [51]:
# sorting the dataframe in des order
df_desort = df.sort_values(by=['Company', 'Price_euros'], ascending=False)

In [ ]:
# marking the duplicates
df_desort_dup = df_desort.duplicated('Company')
df_desort_dup

514     False
184      True
192      True
877      True
191     False
        ...
1198     True
695      True
1102     True
290      True
1215     True
Length: 1303, dtype: bool

In [57]:
# dataframe
df[~df_desort_dup][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_27088\1227891456.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_desort_dup][['Company','Price_euros']]

        Company  Price_euros
17        Apple      2858.00
177         MSI      2799.00
191        Vero       260.00
196       Razer      6099.00
214      Huawei      1499.00
421       Chuwi       449.00
437      Google      2199.00
449   Microsoft      2589.00
491     Toshiba      2799.00
514      Xiaomi      1399.95
580    Mediacom       389.00
610      Lenovo      4899.00
623     Fujitsu       799.00
678          LG      2299.00
723        Dell      3659.40
749          HP      4389.00
874     Samsung      1849.00
1066       Asus      3975.00
1189       Acer      2599.00

### Most Expensive laptops with keep='last'

In [60]:
df_exp = df_sort.duplicated( 'Company' , keep='last')

In [62]:
df[~df_exp][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_27088\1941480647.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_exp][['Company','Price_euros']]

        Company  Price_euros
17        Apple      2858.00
177         MSI      2799.00
191        Vero       260.00
196       Razer      6099.00
214      Huawei      1499.00
421       Chuwi       449.00
437      Google      2199.00
449   Microsoft      2589.00
491     Toshiba      2799.00
514      Xiaomi      1399.95
580    Mediacom       389.00
610      Lenovo      4899.00
623     Fujitsu       799.00
678          LG      2299.00
723        Dell      3659.40
749          HP      4389.00
874     Samsung      1849.00
1066       Asus      3975.00
1189       Acer      2599.00