In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('laptop_price.csv',encoding='latin1')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [4]:
# find the cheap and expensive laptop from each company
df_sort = df.sort_values(by=['Company','Price_euros'])

In [5]:
# finding duplicates in company col

df_duplicates = df_sort.duplicated('Company')

In [6]:
# dataframe (duplicate values)
df[df_duplicates][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_17688\1000374030.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df_duplicates][['Company','Price_euros']]

     Company  Price_euros
0      Apple      1339.69
2         HP       575.00
3      Apple      2537.45
4      Apple      1803.60
5       Acer       400.00
...      ...          ...
1298  Lenovo       638.00
1299  Lenovo      1499.00
1300  Lenovo       229.00
1301      HP       764.00
1302    Asus       369.00

[1284 rows x 2 columns]

In [7]:
# non duplicates dataframe 
"""Cheap Laptops from each company"""
df[~df_duplicates][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_17688\1605380359.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_duplicates][['Company','Price_euros']]

        Company  Price_euros
1         Apple       898.94
20         Asus       191.90
30        Chuwi       244.99
159     Toshiba       447.00
170      Huawei      1349.00
340        Dell       274.90
430     Samsung       269.00
457   Microsoft       989.00
472      Google      1275.00
626    Mediacom       239.00
877      Xiaomi       935.00
909          LG      1899.00
983     Fujitsu       649.00
1117      Razer      1029.00
1120       Vero       196.00
1169        MSI       839.00
1215       Acer       174.00
1268         HP       209.00
1272     Lenovo       229.00

### Most Expensive laptops

In [8]:
# sorting the dataframe in des order
df_desort = df.sort_values(by=['Company', 'Price_euros'], ascending=False)

In [9]:
# marking the duplicates
df_desort_dup = df_desort.duplicated('Company')
df_desort_dup

514     False
184      True
192      True
877      True
191     False
        ...
1198     True
695      True
1102     True
290      True
1215     True
Length: 1303, dtype: bool

In [10]:
# dataframe
df[~df_desort_dup][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_17688\1227891456.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_desort_dup][['Company','Price_euros']]

        Company  Price_euros
17        Apple      2858.00
177         MSI      2799.00
191        Vero       260.00
196       Razer      6099.00
214      Huawei      1499.00
421       Chuwi       449.00
437      Google      2199.00
449   Microsoft      2589.00
491     Toshiba      2799.00
514      Xiaomi      1399.95
580    Mediacom       389.00
610      Lenovo      4899.00
623     Fujitsu       799.00
678          LG      2299.00
723        Dell      3659.40
749          HP      4389.00
874     Samsung      1849.00
1066       Asus      3975.00
1189       Acer      2599.00

### Most Expensive laptops with keep='last'

In [11]:
df_exp = df_sort.duplicated( 'Company' , keep='last')

In [12]:
df[~df_exp][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_17688\1941480647.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_exp][['Company','Price_euros']]

        Company  Price_euros
17        Apple      2858.00
177         MSI      2799.00
191        Vero       260.00
196       Razer      6099.00
214      Huawei      1499.00
421       Chuwi       449.00
437      Google      2199.00
449   Microsoft      2589.00
491     Toshiba      2799.00
514      Xiaomi      1399.95
580    Mediacom       389.00
610      Lenovo      4899.00
623     Fujitsu       799.00
678          LG      2299.00
723        Dell      3659.40
749          HP      4389.00
874     Samsung      1849.00
1066       Asus      3975.00
1189       Acer      2599.00

### Exercise:
Using duplicated(['Product','TypeName','Inches']), show the first 10 duplicate rows (i.e., rows where that triple repeats and are flagged True).

In [17]:
df_13 =df.duplicated(['Product','TypeName', 'Inches'])
df[df_13].head(10)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1158.70
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.90
11,12,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,500GB HDD,Intel HD Graphics 520,No OS,1.86kg,344.99
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97
15,16,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1518.55
16,17,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,256GB SSD,AMD Radeon R5 M430,Windows 10,2.2kg,745.00
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
25,26,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i3 6006U 2GHz,4GB,1TB HDD,Intel HD Graphics 520,Windows 10,2.3kg,418.64

In [ ]:
#1 Show which rows have duplicated laptop_ID
df['laptop_ID'].duplicated().value_counts()
# no laptop has duplicated laptop_id.

laptop_ID
False    1303
Name: count, dtype: int64

In [22]:
#2 Show rows that are duplicates based on the Product column only.
df_2 =df['Product'].duplicated()
df[df_2]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1158.70
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [27]:
#3 Check for duplicates on ['Product','TypeName','Inches'] and show the first 15 duplicate rows.
cols = ['Product', 'TypeName','Inches']
df_3 = df.duplicated(cols)
df[df_3]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1158.70
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.90
11,12,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,500GB HDD,Intel HD Graphics 520,No OS,1.86kg,344.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [36]:
df_5 = df['Company'].duplicated()
df[df_5][['Company','Price_euros']]

     Company  Price_euros
1      Apple       898.94
3      Apple      2537.45
4      Apple      1803.60
6      Apple      2139.97
7      Apple      1158.70
...      ...          ...
1298  Lenovo       638.00
1299  Lenovo      1499.00
1300  Lenovo       229.00
1301      HP       764.00
1302    Asus       369.00

[1284 rows x 2 columns]

In [49]:
#6
df_6_sort = df.sort_values(by=['Company','Price_euros'])
df_6 = df_6_sort.duplicated('Company')
df[~df_6][['Company','Price_euros']]
#df_6_sort.head(20)[['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_17688\3947622324.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_6][['Company','Price_euros']]

        Company  Price_euros
1         Apple       898.94
20         Asus       191.90
30        Chuwi       244.99
159     Toshiba       447.00
170      Huawei      1349.00
340        Dell       274.90
430     Samsung       269.00
457   Microsoft       989.00
472      Google      1275.00
626    Mediacom       239.00
877      Xiaomi       935.00
909          LG      1899.00
983     Fujitsu       649.00
1117      Razer      1029.00
1120       Vero       196.00
1169        MSI       839.00
1215       Acer       174.00
1268         HP       209.00
1272     Lenovo       229.00

In [52]:
#7 
df_7 = df_6_sort['Company'].duplicated(keep='last')
df[~df_7][['Company','Price_euros']]

C:\Users\parde\AppData\Local\Temp\ipykernel_17688\445848585.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[~df_7][['Company','Price_euros']]

        Company  Price_euros
17        Apple      2858.00
177         MSI      2799.00
191        Vero       260.00
196       Razer      6099.00
214      Huawei      1499.00
421       Chuwi       449.00
437      Google      2199.00
449   Microsoft      2589.00
491     Toshiba      2799.00
514      Xiaomi      1399.95
580    Mediacom       389.00
610      Lenovo      4899.00
623     Fujitsu       799.00
678          LG      2299.00
723        Dell      3659.40
749          HP      4389.00
874     Samsung      1849.00
1066       Asus      3975.00
1189       Acer      2599.00

In [55]:
#8
df[~df.duplicated('Company',keep=False)]

Empty DataFrame
Columns: [laptop_ID, Company, Product, TypeName, Inches, ScreenResolution, Cpu, Ram, Memory, Gpu, OpSys, Weight, Price_euros]
Index: []

In [64]:
#9
df_9 = df[['Product', 'Ram']].duplicated(keep=False)
df___9 = df[~df_9][['Product', 'Company','Ram']]
df___9.sort_values('Product')

                                    Product Company   Ram
717       110-15ACL (A6-7310/4GB/500GB/W10)  Lenovo   4GB
571          14-am079na (N3710/8GB/2TB/W10)      HP   8GB
365          15-AY023na (N3710/8GB/2TB/W10)      HP   8GB
1151     15-BA015wm (E2-7110/4GB/500GB/W10)      HP   4GB
501   15-BS026nv (i5-7200U/8GB/256GB/Radeon      HP   8GB
...                                     ...     ...   ...
763                    Zenbook UX330UA-AH5Q    Asus   8GB
489                         Zenbook UX390UA    Asus  16GB
361                  Zenbook UX410UA-GV027T    Asus   8GB
94                          Zenbook UX430UA    Asus   8GB
532                  Zenbook UX510UW-FI095T    Asus   8GB

[551 rows x 3 columns]

In [69]:
#10
df_10 = df[['Product','Gpu']].duplicated(keep=False)
df[~df_10][['Company','Gpu','Product']]

     Company                      Gpu                             Product
3      Apple       AMD Radeon Pro 455                         MacBook Pro
6      Apple  Intel Iris Pro Graphics                         MacBook Pro
8       Asus     Nvidia GeForce MX150                     ZenBook UX430UN
12     Apple       AMD Radeon Pro 555                         MacBook Pro
17     Apple       AMD Radeon Pro 560                         MacBook Pro
...      ...                      ...                                 ...
1255    Asus    Intel HD Graphics 500   X541NA-GO020T (N3350/4GB/1TB/W10)
1256    Asus  Nvidia GeForce GTX 970M                   Rog G752VT-GC073T
1258  Lenovo       AMD Radeon R5 M330  B51-80 (i7-6500U/8GB/1008GB/Radeon
1259     MSI  Nvidia GeForce GTX 960M                         GE62 Apache
1260  Lenovo    Intel HD Graphics 520                      Yoga 500-14IBD

[564 rows x 3 columns]

In [75]:
#11
df_11 = df[['Product','TypeName','Inches']].duplicated(keep=False)
df[df_11][['Product','TypeName','Inches']]

                                  Product            TypeName  Inches
0                             MacBook Pro           Ultrabook    13.3
1                             Macbook Air           Ultrabook    13.3
2                                  250 G6            Notebook    15.6
3                             MacBook Pro           Ultrabook    15.4
4                             MacBook Pro           Ultrabook    13.3
...                                   ...                 ...     ...
1298                       Yoga 500-14ISK  2 in 1 Convertible    14.0
1299                       Yoga 900-13ISK  2 in 1 Convertible    13.3
1300                   IdeaPad 100S-14IBR            Notebook    14.0
1301  15-AC110nv (i7-6500U/6GB/1TB/Radeon            Notebook    15.6
1302  X553SA-XX031T (N3050/4GB/500GB/W10)            Notebook    15.6

[805 rows x 3 columns]

In [91]:
#12
df_12_sort = df.sort_values(by=['Company','Price_euros'])
df_12 = df_12_sort['Company'].duplicated(keep='first')
df_ans_12 = df[~df_12]

df_final_ans = df[df_ans_12['Price_euros']>2000]

C:\Users\parde\AppData\Local\Temp\ipykernel_17688\2042894376.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ans_12 = df[~df_12]
C:\Users\parde\AppData\Local\Temp\ipykernel_17688\2042894376.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_final_ans = df[df_ans_12['Price_euros']>2000]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).