In [1]:
import pandas as pd

In [2]:
# reading csv file
df_population_raw = pd.read_csv('population_total.csv')

In [3]:
df_population_raw

            country    year    population
0             China  2020.0  1.439324e+09
1             China  2019.0  1.433784e+09
2             China  2018.0  1.427648e+09
3             China  2017.0  1.421022e+09
4             China  2016.0  1.414049e+09
...             ...     ...           ...
4180  United States  1965.0  1.997337e+08
4181  United States  1960.0  1.867206e+08
4182  United States  1955.0  1.716853e+08
4183          India  1960.0  4.505477e+08
4184          India  1955.0  4.098806e+08

[4185 rows x 3 columns]

In [4]:
df_population_raw.dropna(inplace=True)

In [5]:
df_population = df_population_raw.pivot(
                index='year',
                columns='country',
                values='population'
)

In [7]:
df_population[['United States','India','Brazil','China','Spain']].head()

country  United States        India       Brazil        China       Spain
year
1955.0     171685336.0  409880595.0   62533919.0  612241554.0  29048395.0
1960.0     186720571.0  450547679.0   72179226.0  660408056.0  30402411.0
1965.0     199733676.0  499123324.0   83373530.0  724218968.0  32146263.0
1970.0     209513341.0  555189792.0   95113265.0  827601394.0  33883749.0
1975.0     219081251.0  623102897.0  107216205.0  926240885.0  35879209.0