In [1]:
import pandas as pd

Target Website: https://www.football-data.co.uk/data.php

In [3]:
# Reading CSV file
df = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [15]:
# Changing the col name
df = df.rename(columns={
    'HomeTeam':'Home_Team',
    'AwayTeam':'Away_Team',
    'FTHG': 'Home_goal',
    'FTAG':'Away_goal'
})
df.loc[:,'Div':'Away_goal'].head()

  Div        Date   Time    Home_Team    Away_Team  Home_goal  Away_goal
0  E0  15/08/2025  20:00    Liverpool  Bournemouth          4          2
1  E0  16/08/2025  12:30  Aston Villa    Newcastle          0          0
2  E0  16/08/2025  15:00     Brighton       Fulham          1          1
3  E0  16/08/2025  15:00   Sunderland     West Ham          3          0
4  E0  16/08/2025  15:00    Tottenham      Burnley          3          0

Link Structure: https://www.football-data.co.uk/mmz4281/2526/E0.csv


'https://www.football-data.co.uk/mmz4281/' + '2526' + '/' + E0.csv'

In [91]:
Root = 'https://www.football-data.co.uk/mmz4281/' 
leagues = [ 'E0', 'E1', 'E2']

In [27]:
# frames var to store dfs
frames = []
for league in leagues:
    df = pd.read_csv(Root+ '2122'+ '/'+ league + '.csv')
    frames.append(df) # storing df in one var

In [28]:
# Df
frames[1].head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,06/08/2021,19:45,Bournemouth,West Brom,2,2,D,1,1,...,1.84,-0.25,2.13,1.78,2.13,1.80,2.16,1.83,2.09,1.77
1,E1,07/08/2021,15:00,Blackburn,Swansea,2,1,H,1,0,...,1.70,-0.25,1.77,2.14,1.83,2.09,1.87,2.17,1.81,2.04
2,E1,07/08/2021,15:00,Bristol City,Blackpool,1,1,D,1,0,...,1.66,-0.25,1.90,2.00,1.92,1.99,1.92,2.01,1.89,1.95
3,E1,07/08/2021,15:00,Cardiff,Barnsley,1,1,D,0,0,...,1.62,-0.25,2.05,1.75,2.14,1.80,2.19,1.80,2.11,1.75
4,E1,07/08/2021,15:00,Derby,Huddersfield,1,1,D,1,1,...,1.60,-0.25,1.88,2.02,1.88,2.01,1.90,2.07,1.87,1.98

### Scraping data of different seasons and leagues

Multiple seasons csv file links:

https://www.football-data.co.uk/mmz4281/2526/E0.csv

https://www.football-data.co.uk/mmz4281/2425/E0.csv

https://www.football-data.co.uk/mmz4281/2223/E2.csv

In [ ]:
# creating Year variable to store different seasons
bird = []
for season in range(20,23):
    year = f'{season}{season+1}'
    bird.append(year)
    print(bird)

['2021']
['2021', '2122']
['2021', '2122', '2223']
['2021', '2122', '2223', '2324']
['2021', '2122', '2223', '2324', '2425']

In [86]:
Arson = [] 
leagues = ['E0', 'E1', 'E2']
for league in leagues:
    for i in bird:
        dataSet = pd.read_csv(Root + i + '/' + league + '.csv', encoding='unicode_escape')
        dataSet.insert(1,'Season', i)
        Arson.append(dataSet)
        
    
len(Arson)

15

In [85]:
# DataFrame
Arson[1].head()

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2425,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,2425,14/08/2021,12:30,Man United,Leeds,5,1,H,1,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,2425,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,2425,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,2425,14/08/2021,15:00,Everton,Southampton,3,1,H,0,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

### Organizing data in dict

In [87]:
# create a dictionary with original name of league as key
dict_countries = {
              'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3',
             }

In [89]:
dict_countries['English Premier League']

'E0'

In [94]:
all_data_dict = {}
for league in dict_countries:
    frames = []
    df = pd.read_csv(Root+ i + '/' + dict_countries[league]+ '.csv')
    #df.insert[1,'Season', year]
    frames.append(df)
    df_frames = pd.concat(frames)
    all_data_dict[league] = df_frames

In [96]:
all_data_dict['Spanish La Liga']

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,SP1,15/08/2024,18:00,Ath Bilbao,Getafe,1,1,D,1,0,...,2.08,1.73,2.17,1.76,2.19,1.82,2.12,1.77,2.19,1.82
1,SP1,15/08/2024,20:30,Betis,Girona,1,1,D,1,0,...,2.01,1.89,2.03,1.89,2.10,1.94,2.01,1.85,2.08,1.90
2,SP1,16/08/2024,18:00,Celta,Alaves,2,1,H,0,1,...,1.82,2.11,1.83,2.10,1.84,2.12,1.79,2.08,1.85,2.14
3,SP1,16/08/2024,20:30,Las Palmas,Sevilla,2,2,D,1,1,...,1.86,2.07,1.87,2.07,1.89,2.11,1.86,2.03,1.90,2.09
4,SP1,17/08/2024,18:00,Osasuna,Leganes,1,1,D,0,1,...,1.88,2.05,1.88,2.04,1.91,2.06,1.87,2.00,1.94,2.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,24/05/2025,20:00,Getafe,Celta,1,2,A,1,1,...,1.93,1.93,1.93,2.00,1.93,2.02,1.89,1.96,1.95,2.03
376,SP1,24/05/2025,20:00,Vallecano,Mallorca,0,0,D,0,0,...,1.80,2.05,1.83,2.10,1.87,2.19,1.79,2.06,1.85,2.14
377,SP1,25/05/2025,13:00,Girona,Ath Madrid,0,4,A,0,0,...,1.95,1.90,1.98,1.94,2.04,1.94,1.96,1.86,2.04,1.94
378,SP1,25/05/2025,15:15,Villarreal,Sevilla,4,2,H,3,1,...,1.95,1.90,2.00,1.93,2.02,1.93,1.96,1.89,2.03,1.95
379,SP1,25/05/2025,20:00,Ath Bilbao,Barcelona,0,3,A,0,2,...,2.03,1.83,2.08,1.85,2.12,1.87,2.03,1.80,2.07,1.91