In [37]:
import pandas as pd

# Project Name: Web Scraping with Pandas

### Read a csv file from a URL

Target website: https://www.football-data.co.uk/data.php

In [38]:
# reading csv file from the website
df_premier_25 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [39]:
df_premier_25.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [40]:
df_premier_25.rename(columns={
    'FTHG': 'Home_goal',
    'FTAG': 'Goal_away'
}, inplace=True)
df_premier_25.head()

,Div,Date,Time,HomeTeam,AwayTeam,Home_goal,Goal_away,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

### 1.2 Reading multiple csv from URL

link structure
https://www.football-data.co.uk/mmz4281/2526/E0.csv

root(https://www.football-data.co.uk/mmz4281/) + 'league year'+'/'+league series(E0)+ '.csv'

In [41]:
# creating root variable
root = 'https://www.football-data.co.uk/mmz4281/'

In [42]:
# create a for loop to loop through leauge series
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = [] # empty dict to store each df

for league in leagues:
    df = pd.read_csv(root+ '2526'  + '/' + league + '.csv')
    frames.append(df)

In [43]:
# length of frames
len(frames)

5

In [44]:
# showing the elements of frames
frames[0].head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

### 1.3 csv file from multiple seasons

In [45]:
# looping through the leagues and seasons
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

for league in leagues:
    for i in range(19,24):
        season = str(i)+ str(i+1)
        df = pd.read_csv(root + season + '/' + league + '.csv', encoding='unicode_escape')
        df.insert(1,'Season', season)
        frames.append(df)

In [46]:
len(frames)

25

In [47]:
frames[24].head()

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,2324,05/08/2023,15:00,Aldershot,Oxford City,5,2,H,3,...,2.13,-0.75,2.00,1.80,2.06,1.79,2.08,1.85,1.99,1.77
1,EC,2324,05/08/2023,15:00,Altrincham,Dag and Red,1,1,D,0,...,1.94,-0.25,1.68,2.15,1.75,2.12,1.96,2.19,1.73,2.05
2,EC,2324,05/08/2023,15:00,Barnet,Hartlepool,3,2,H,1,...,2.05,-0.25,1.80,2.00,1.87,1.99,1.87,2.04,1.81,1.94
3,EC,2324,05/08/2023,15:00,Chesterfield,Dorking,4,3,H,1,...,2.65,-2.00,1.88,1.93,1.98,1.86,1.98,1.93,1.90,1.84
4,EC,2324,05/08/2023,15:00,Gateshead,Boreham Wood,2,2,D,2,...,1.78,-0.50,1.88,1.93,1.93,1.93,1.93,1.99,1.86,1.89

### Organizing Data in dict

In [48]:
dict_countries = {
              'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3',
             }

In [49]:
dict_countries['English League 2']

'E3'

In [60]:
dict_all_data = {}

for a in dict_countries:
    frames = []
    for season in range(20,24):
        year = str(season) + str(season+1)
        dt = pd.read_csv(root+ year + '/' + dict_countries[a] + '.csv')
        dt.insert(1, 'Season', year)
        frames.append(dt)
    f_df = pd.concat(frames)
    dict_all_data[a] = f_df

In [62]:
dict_all_data['English League 2'].head()

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,2021,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,2021,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,2021,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,2021,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,2021,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00

In [66]:
dict_all_data['English League 2'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 2208 entries, 0 to 551
Columns: 107 entries, Div to AvgCAHA
dtypes: float64(82), int64(16), object(9)
memory usage: 1.8+ MB