### Exercises with loc[] method

1Ô∏è‚É£ Get all data about ‚ÄúNeymar Jr‚Äù.

2Ô∏è‚É£ Get only the nationality of ‚ÄúE. Hazard‚Äù.

3Ô∏è‚É£ Get the height and weight of ‚ÄúCristiano Ronaldo‚Äù.

4Ô∏è‚É£ Select all ages from the DataFrame (using .loc[] only).

5Ô∏è‚É£ Get the first 10 players and show only their age and height.

In [1]:
import pandas as pd

In [101]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df= df.loc[:,'long_name':'club']
df.head(10)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-Andr√© ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
L. Modriƒá,Luka Modriƒá,33,1985-09-09,172,66,Croatia,Real Madrid
M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool

In [18]:
# Exercise 1: 
df.loc['Neymar Jr']

long_name      Neymar da Silva Santos Junior
age                                       27
dob                               1992-02-05
height_cm                                175
weight_kg                                 68
nationality                           Brazil
club                     Paris Saint-Germain
Name: Neymar Jr, dtype: object

In [19]:
# Exercise 2:
df.loc['E. Hazard', 'nationality']

'Belgium'

In [20]:
# Exercise 3:
df.loc["Cristiano Ronaldo", ['height_cm', 'weight_kg']]

height_cm    187
weight_kg     83
Name: Cristiano Ronaldo, dtype: object

In [21]:
# Exercise 4:
df.loc[:,'age']

short_name
L. Messi             32
Cristiano Ronaldo    34
Neymar Jr            27
J. Oblak             26
E. Hazard            28
                     ..
Shao Shuai           22
Xiao Mingjie         22
Zhang Wei            19
Wang Haijian         18
Pan Ximing           26
Name: age, Length: 18278, dtype: int64

In [28]:
# Exercise 5:
df.loc[df.index[:10],['age','height_cm']]

                   age  height_cm
short_name
L. Messi            32        170
Cristiano Ronaldo   34        187
Neymar Jr           27        175
J. Oblak            26        188
E. Hazard           28        175
K. De Bruyne        28        181
M. ter Stegen       27        187
V. van Dijk         27        193
L. Modriƒá           33        172
M. Salah            27        175

### Exercise: Ranges and Slices

6Ô∏è‚É£ Select players from ‚ÄúL. Messi‚Äù to ‚ÄúM. Salah‚Äù, showing only columns from age to weight_kg.

7Ô∏è‚É£ Select the first 5 nationalities alphabetically (use .loc + slice on index).

8Ô∏è‚É£ Get a subset of data containing the first 15 players and only columns ['age', 'dob', 'club'].

In [115]:
#Exercise 6:

df.loc[df.index[:10], 'age': 'weight_kg']

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. Modriƒá           33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71

In [35]:
# Exercise7:
df_sort = df.sort_values('nationality')
df_sort.loc[df_sort.index[:5],['nationality']]

              nationality
short_name
N. Husin      Afghanistan
H. Amin       Afghanistan
A. Ajdareviƒá      Albania
E. Berisha        Albania
B. Djimsiti       Albania

In [36]:
# Exercise 8:
df.loc[df.index[:15],['age','dob','club']]

                   age         dob                 club
short_name
L. Messi            32  1987-06-24         FC Barcelona
Cristiano Ronaldo   34  1985-02-05             Juventus
Neymar Jr           27  1992-02-05  Paris Saint-Germain
J. Oblak            26  1993-01-07      Atl√©tico Madrid
E. Hazard           28  1991-01-07          Real Madrid
K. De Bruyne        28  1991-06-28      Manchester City
M. ter Stegen       27  1992-04-30         FC Barcelona
V. van Dijk         27  1991-07-08            Liverpool
L. Modriƒá           33  1985-09-09          Real Madrid
M. Salah            27  1992-06-15            Liverpool
K. Mbapp√©           20  1998-12-20  Paris Saint-Germain
K. Koulibaly        28  1991-06-20               Napoli
H. Kane             25  1993-07-28    Tottenham Hotspur
H. Kane             20  1998-11-23            Liverpool
Alisson             26  1992-10-02            Liverpool
De Gea              28  1990-11-07    Manchester United

### Exercise: Conditional filtering

9Ô∏è‚É£Select all players taller than 190 cm.

üîü Select all Brazilian players who weigh less than 70 kg.

1Ô∏è‚É£1Ô∏è‚É£ Find all Argentinian players who are older than 30.

1Ô∏è‚É£2Ô∏è‚É£ Select all players with height between 175 and 180 cm.

In [ ]:
# Exercise9:
df.loc[df['height_cm']>190]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
Alisson,Alisson Ramses Becker,26,1992-10-02,191,91,Brazil,Liverpool
De Gea,David De Gea Quintana,28,1990-11-07,192,82,Spain,Manchester United
P. Pogba,Paul Pogba,26,1993-03-15,191,84,France,Manchester United
T. Courtois,Thibaut Courtois,27,1992-05-11,199,96,Belgium,Real Madrid
...,...,...,...,...,...,...,...
N. Stephan,Nico Stephan,18,2000-08-24,191,84,Germany,FC W√ºrzburger Kickers
J. Branthwaite,Jarrad Branthwaite,17,2002-06-27,193,70,England,Carlisle United
B. Sinzig,Basil Sinzig,19,1999-12-21,191,81,Switzerland,Neuch√¢tel Xamax
D. Mackay,Devlin Mackay,22,1997-01-23,191,81,Scotland,Kilmarnock
Wang Zhifeng,Zhifeng Wang,22,1997-02-01,195,80,China PR,Wuhan Zall

In [47]:
# Exercise 10:
df.loc[(df['nationality']== 'Brazil') & (df['weight_kg']<70)]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
Fernandinho,Fernando Luiz Rosa,34,1985-05-04,179,67,Brazil,Manchester City
Coutinho,Philippe Coutinho Correia,27,1992-06-12,172,68,Brazil,FC Bayern M√ºnchen
Giuliano,Giuliano Victor de Paula,29,1990-05-31,172,68,Brazil,Al Nassr
Taison,Taison Barcellos Freda,31,1988-01-13,172,64,Brazil,Shakhtar Donetsk
...,...,...,...,...,...,...,...
Andre Shinyashiki,Andre Bava Shinyashiki,22,1997-06-11,175,68,Brazil,Colorado Rapids
Strefezza,Gabriel Tadeu Strefezza Rebecato,22,1997-04-18,168,63,Brazil,SPAL
Bruno,Bruno Moreira Soares,20,1999-04-08,175,60,Brazil,Envigado FC
Maxwell,Emaxwell Souza de Lima,24,1995-02-11,182,68,Brazil,Kalmar FF
Osman Junior,Venancio junior Osman de menezes,26,1992-10-29,181,68,Brazil,Gyeongnam FC

In [48]:
#Exercise 11:
df.loc[(df['nationality']=='Argentina') & (df['age']> 30)]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
S. Ag√ºero,Sergio Leonel Ag√ºero del Castillo,31,1988-06-02,173,70,Argentina,Manchester City
A. Di Mar√≠a,√Ångel Fabi√°n Di Mar√≠a Hern√°ndez,31,1988-02-14,180,69,Argentina,Paris Saint-Germain
A. G√≥mez,Alejandro Dar√≠o G√≥mez,31,1988-02-15,165,68,Argentina,Atalanta
G. Higua√≠n,Gonzalo Gerardo Higua√≠n,31,1987-12-10,186,89,Argentina,Juventus
...,...,...,...,...,...,...,...
M. Cort√©s,Mart√≠n Miguel Cort√©s,36,1983-01-07,165,63,Argentina,Curic√≥ Unido
J. Ayala,Josu√© Daniel Ayala,31,1988-05-30,184,85,Argentina,Rosario Central
E. Ledesma,Emmanuel Jorge Ledesma,31,1988-05-24,183,74,Argentina,FC Cincinnati
M. Cavallotti,Maximiliano Cavallotti,34,1984-11-15,187,81,Argentina,Central C√≥rdoba
H. Ram√≠rez,Horacio Mart√≠n Ram√≠rez,35,1984-03-21,186,82,Argentina,Uni√≥n Magdalena

In [119]:
# Exercise 12:
df.loc[(df['height_cm']>=175) & (df['height_cm']<=180)]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool
K. Mbapp√©,Kylian Mbapp√©,20,1998-12-20,178,73,France,Paris Saint-Germain
A. Griezmann,Antoine Griezmann,28,1991-03-21,176,73,France,FC Barcelona
...,...,...,...,...,...,...,...
J. Ryan,Jack Ryan,19,2000-02-07,178,75,Republic of Ireland,UCD AFC
M. Gallagher,Michael Gallagher,18,2000-07-09,178,70,Republic of Ireland,Finn Harps
M. Sagaf,Mohammed Sagaf,21,1997-11-12,177,70,England,Carlisle United
E. Tweed,Evan Tweed,20,1999-03-01,180,72,Republic of Ireland,Derry City
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC

### Exercise: Combined Conditions

1Ô∏è‚É£3Ô∏è‚É£ Select all English players who are under 25 years old and play for Manchester United.

1Ô∏è‚É£4Ô∏è‚É£ Select all German or Spanish players taller than 185 cm.

1Ô∏è‚É£5Ô∏è‚É£ Show players whose weight is greater than 90 kg but height is under 185 cm.

In [67]:
# Exercise 13:
df.loc[(df['nationality']=='England') & (df['age']< 25) & (df['club']== 'Manchester City')]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
R. Sterling,Raheem Sterling,24,1994-12-08,170,69,England,Manchester City
P. Foden,Philip Foden,19,2000-05-28,171,69,England,Manchester City
F. Nmecha,Felix Nmecha,18,2000-10-10,186,70,England,Manchester City
J. Latibeaudiere,Joel Latibeaudiere,19,2000-01-06,180,72,England,Manchester City
D. Grimshaw,Daniel Grimshaw,21,1998-01-16,185,77,England,Manchester City

In [68]:
# Exercise 14:
df.loc[(df['nationality']=='Germany')| (df['nationality']=='Spain') & (df['height_cm']>185)]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. ter Stegen,Marc-Andr√© ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
De Gea,David De Gea Quintana,28,1990-11-07,192,82,Spain,Manchester United
Sergio Busquets,Sergio Busquets i Burgos,30,1988-07-16,189,76,Spain,FC Barcelona
Piqu√©,Gerard Piqu√© Bernab√©u,32,1987-02-02,194,85,Spain,FC Barcelona
M. Neuer,Manuel Neuer,33,1986-03-27,193,92,Germany,FC Bayern M√ºnchen
...,...,...,...,...,...,...,...
L. Schellenberg,Lukas Schellenberg,18,2000-08-02,183,78,Germany,FC Ingolstadt 04
D. Meisel,Dominik Meisel,20,1999-06-29,179,68,Germany,FC W√ºrzburger Kickers
M. Breunig,Maximilian Breunig,18,2000-08-14,178,67,Germany,FC W√ºrzburger Kickers
N. Stephan,Nico Stephan,18,2000-08-24,191,84,Germany,FC W√ºrzburger Kickers
M. Harsman,Matthis Harsman,19,1999-10-04,190,80,Germany,SV Meppen

In [70]:
# Exercise 15:
df.loc[(df['weight_kg']>90) & (df['height_cm']<185)]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Hulk,Givanildo Vieira de Souza,32,1986-07-25,179,92,Brazil,Shanghai SIPG FC
R. √Åbila,Ram√≥n √Åbila,29,1989-10-14,177,93,Argentina,Boca Juniors
E. Cardona,Edwin Andr√©s Cardona Bedoya,26,1992-12-08,183,92,Colombia,Pachuca
S. Falette,Simon Falette,27,1992-02-19,184,91,Guinea,Eintracht Frankfurt
H. Gnohere,Harlem-Eddy Gnoh√©r√©,31,1988-02-21,183,94,France,FCSB (Steaua)
H√©lton Celanova,H√©lton Luiz Celanova Vieira,27,1992-02-29,180,92,Brazil,Internacional
J. Babin,Jean-Sylvain Claude Babin,32,1986-10-14,181,91,France,Real Sporting de Gij√≥n
B. Acosta,Bismar Acosta,32,1986-12-19,182,92,Costa Rica,SK Brann
R. Bobadilla,Ra√∫l Bobadilla,32,1987-06-18,179,91,Paraguay,Argentinos Juniors
C. Carter-Vickers,Cameron Carter-Vickers,21,1997-12-31,183,92,United States,Stoke City
H. Cummings,Harold Oshkaly Cummings Segura,27,1992-03-01,183,94,Panama,San Jose Earthquakes
D. Braaten,Daniel Omoya Braaten,37,1982-05-25,184,94,Norway,Stab√¶k Fotball
A. Akinfenwa,Adebayo Akinfenwa,37,1982-05-10,178,110,England,Wycombe Wanderers
R. Dally,Rashawn Dally,22,1997-01-14,183,91,Jamaica,FC Cincinnati

### Exercise: Custom Challenges

1Ô∏è‚É£6Ô∏è‚É£ Find the tallest player in each nationality.

1Ô∏è‚É£7Ô∏è‚É£ From those, select only players younger than 25.

1Ô∏è‚É£8Ô∏è‚É£ Find which clubs have the heaviest average players.

1Ô∏è‚É£9Ô∏è‚É£ Find the 5 youngest players in the dataset.

In [91]:
# Exercise 16:
# sort the dataframe (nationality and height)

df_sort = df.sort_values(['height_cm','nationality'], ascending=False)
df_nation = df_sort.drop_duplicates('nationality', keep='first')
#df.head(15)['nationality']['height_cm']
df_nation[['nationality','height_cm']]

                       nationality  height_cm
short_name
K. Athiu               South Sudan        201
S. Kverkvelia              Georgia        196
J. Pavlenka         Czech Republic        196
Z. Ibrahimoviƒá              Sweden        195
G. Chatterjee                India        195
...                            ...        ...
Nguyen Cong Phuong         Vietnam        168
L. Gambin                    Malta        168
E. Maulana Vikri         Indonesia        168
A. Chumacero               Bolivia        164
C. Songkrasin             Thailand        158

[162 rows x 2 columns]

In [99]:
# Exercise 17:
df_17 = df_nation.loc[df['age']<25]
df_17.head(10)[['age','height_cm','nationality']]

                     age  height_cm    nationality
short_name
A. Musrati            23        193          Libya
T. Strakosha          24        193        Albania
S. Milinkoviƒá-Saviƒá   24        191         Serbia
Alfa Semedo           21        189  Guinea Bissau
M. ≈†kriniar           24        187       Slovakia
A. Onana              23        187       Cameroon
M. Eisa               24        183          Sudan
W. Ndidi              22        183        Nigeria
David Cardoso         24        183          Macau
N. P√©p√©               24        183    Ivory Coast

In [105]:
#Exercise 18:
df_sort = df.sort_values('weight_kg')
df_sort.tail(1)[['weight_kg', 'club']]

              weight_kg               club
short_name
A. Akinfenwa        110  Wycombe Wanderers

In [111]:
#Exercise19:
df_sort_age = df.sort_values('age')
df_sort_age.head()[['age','dob','nationality']]

              age         dob    nationality
short_name
R. Wikberg     16  2002-07-03         Sweden
E. Sartorius   16  2002-07-29        England
D. Obbekj√¶r    16  2002-07-16        Denmark
J. Starbuck    16  2002-08-03        England
S. Anderson    16  2002-08-08  United States