### Exercise with iloc[] method

In [122]:
import pandas as pd

df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df.loc[:,'long_name':'club']
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

#### Exercise:
Get single values

Use .iloc[] to fetch:

1. The age of the first player

2. The nationality of the second player

3. The club of the 5th player

In [10]:
#1
df.iloc[0,1]

np.int64(32)

In [11]:
#2
df.iloc[1,5]

'Portugal'

In [13]:
#3
df.iloc[4,6]

'Real Madrid'

### Exercise:

Select complete rows

Using .iloc[], get:

4. The entire first row

5. The entire row at position 10

6. The entire last row (use negative index)

In [14]:
#4
df.iloc[0,:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [18]:
#5
df.iloc[10,:]

long_name            Kylian Mbappé
age                             20
dob                     1998-12-20
height_cm                      178
weight_kg                       73
nationality                 France
club           Paris Saint-Germain
Name: K. Mbappé, dtype: object

In [19]:
#6
df.iloc[-1,:]

long_name                         潘喜明
age                                26
dob                        1993-01-11
height_cm                         182
weight_kg                          78
nationality                  China PR
club           Hebei China Fortune FC
Name: Pan Ximing, dtype: object

### Exercise: Select complete Columns

7. Entire height_cm column

8. Entire dob column

9. Columns at positions 1 to 3

In [ ]:
#7
df.iloc[:,3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [21]:
#8
df.iloc[:,2]

short_name
L. Messi             1987-06-24
Cristiano Ronaldo    1985-02-05
Neymar Jr            1992-02-05
J. Oblak             1993-01-07
E. Hazard            1991-01-07
                        ...
Shao Shuai           1997-03-10
Xiao Mingjie         1997-01-01
Zhang Wei            2000-05-16
Wang Haijian         2000-08-02
Pan Ximing           1993-01-11
Name: dob, Length: 18278, dtype: object

In [22]:
df.iloc[:,1:4]

                   age         dob  height_cm
short_name
L. Messi            32  1987-06-24        170
Cristiano Ronaldo   34  1985-02-05        187
Neymar Jr           27  1992-02-05        175
J. Oblak            26  1993-01-07        188
E. Hazard           28  1991-01-07        175
...                ...         ...        ...
Shao Shuai          22  1997-03-10        186
Xiao Mingjie        22  1997-01-01        177
Zhang Wei           19  2000-05-16        186
Wang Haijian        18  2000-08-02        185
Pan Ximing          26  1993-01-11        182

[18278 rows x 3 columns]

### Exercise: Positional Row/column slicing

10. Get the first 10 rows and first 4 columns

11. Get rows 20 to 40 (inclusive/exclusive rules apply)

12. Get the last 15 rows, but only columns: age, height, weight

In [24]:
#11
df.iloc[0:10,0:4]

,long_name,age,dob,height_cm
short_name,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175
J. Oblak,Jan Oblak,26,1993-01-07,188
E. Hazard,Eden Hazard,28,1991-01-07,175
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187
V. van Dijk,Virgil van Dijk,27,1991-07-08,193
L. Modrić,Luka Modrić,33,1985-09-09,172
M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175

In [119]:
#12
df.iloc[20:40,:]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
G. Lo Celso,Giovani Lo Celso,23,1996-04-09,177,68,Argentina,Tottenham Hotspur
Gonçalo Guedes,Gonçalo Manuel Ganchinho Guedes,22,1996-11-29,179,68,Portugal,Valencia CF
L. Digne,Lucas Digne,25,1993-07-20,178,74,France,Everton
D. Djené,Djené Dakonam Ortega,27,1991-12-31,178,72,Togo,Getafe CF
F. Thauvin,Florian Thauvin,26,1993-01-26,179,70,France,Olympique de Marseille
Falcao,Radamel Falcao García Zárate,33,1986-02-10,177,72,Colombia,AS Monaco
C. Vela,Carlos Alberto Vela Garrido,30,1989-03-01,177,77,Mexico,Los Angeles FC
R. Nainggolan,Radja Nainggolan,31,1988-05-04,176,77,Belgium,Cagliari
Illarramendi,Asier Illarramendi Andonegi,29,1990-03-08,179,75,Spain,Real Sociedad
J. Cuadrado,Juan Cuadrado,31,1988-05-26,179,72,Colombia,Juventus
K. Kampl,Kevin Kampl,28,1990-10-09,178,67,Slovenia,RB Leipzig
A. Kramarić,Andrej Kramarić,28,1991-06-19,177,73,Croatia,TSG 1899 Hoffenheim
Ronaldo Cabrais,Ronaldo Jailson Cabrais Petri,27,1992-02-29,177,75,Brazil,Grêmio
L. Bailey,Leon Bailey Butler,21,1997-08-09,178,79,Jamaica,Bayer 04 Leverkusen
M. Kovačić,Mateo Kovačić,25,1994-05-06,176,78,Croatia,Chelsea
S. Bergwijn,Steven Bergwijn,21,1997-10-08,178,78,Netherlands,PSV
Nélson Semedo,Nélson Cabral Semedo,25,1993-11-16,177,67,Portugal,FC Barcelona
Suso,Jesús Joaquín Fernández Sáez,25,1993-11-19,176,70,Spain,Milan
M. Götze,Mario Götze,27,1992-06-03,176,75,Germany,Borussia Dortmund
Sergi Roberto,Sergio Roberto Carnicer,27,1992-02-07,178,68,Spain,FC Barcelona

In [120]:
#13

df.iloc[-15:, 1:3]
#df.tail()

              age         dob
short_name
R. Yabo        27  1992-02-10
A. Souquet     27  1992-02-12
P. Ceppelini   27  1991-09-11
F. Boulaya     26  1993-02-25
M. Oršić       26  1992-12-29
M. Jojić       27  1992-03-19
Sidcley        26  1993-05-13
J. Gandolfi    38  1980-12-05
Mikel Rico     34  1984-11-04
P. Verhaegh    35  1983-09-01
A. McGeady     33  1986-04-04
S. Naismith    32  1986-09-14
O. Veigneau    33  1985-07-16
C. Keșerü      32  1986-12-02
I. Sosa        32  1987-01-18

In [44]:
df.tail()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

### Exercise: Selecting with lists

16. Rows [0, 5, 10] and columns [1, 3, 4]

17. Rows [2, 3] and columns [0, 1, 6]

In [49]:
#16
df.iloc[[0,5,10], [1,3,4]]

              age  height_cm  weight_kg
short_name
L. Messi       32        170         72
K. De Bruyne   28        181         70
K. Mbappé      20        178         73

In [50]:
#17
df.iloc[[2,3],[0,1,6]]

                                long_name  age                 club
short_name
Neymar Jr   Neymar da Silva Santos Junior   27  Paris Saint-Germain
J. Oblak                        Jan Oblak   26      Atlético Madrid

### Exercise: Reverse Slicing

18. First 20 rows but columns in reverse order

19. All rows but every second column

20. All rows but only the last 3 columns

In [58]:
#18
df.iloc[:20, ::-1].head()

,club,nationality,weight_kg,height_cm,dob,age,long_name
short_name,,,,,,,
L. Messi,FC Barcelona,Argentina,72,170,1987-06-24,32,Lionel Andrés Messi Cuccittini
Cristiano Ronaldo,Juventus,Portugal,83,187,1985-02-05,34,Cristiano Ronaldo dos Santos Aveiro
Neymar Jr,Paris Saint-Germain,Brazil,68,175,1992-02-05,27,Neymar da Silva Santos Junior
J. Oblak,Atlético Madrid,Slovenia,87,188,1993-01-07,26,Jan Oblak
E. Hazard,Real Madrid,Belgium,74,175,1991-01-07,28,Eden Hazard

In [ ]:
#19
df.iloc[1:2,::-1] # wrong
df.iloc[:,::2] # solution

,long_name,dob,weight_kg,club
short_name,,,,
L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,72,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,83,Juventus
Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,68,Paris Saint-Germain
J. Oblak,Jan Oblak,1993-01-07,87,Atlético Madrid
E. Hazard,Eden Hazard,1991-01-07,74,Real Madrid
...,...,...,...,...
Shao Shuai,邵帅,1997-03-10,79,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,1997-01-01,66,Shanghai SIPG FC
Zhang Wei,张威,2000-05-16,75,Hebei China Fortune FC
Wang Haijian,汪海健,2000-08-02,74,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,1993-01-11,78,Hebei China Fortune FC

In [72]:
#20
df.iloc[:,-3:]

                   weight_kg nationality                           club
short_name
L. Messi                  72   Argentina                   FC Barcelona
Cristiano Ronaldo         83    Portugal                       Juventus
Neymar Jr                 68      Brazil            Paris Saint-Germain
J. Oblak                  87    Slovenia                Atlético Madrid
E. Hazard                 74     Belgium                    Real Madrid
...                      ...         ...                            ...
Shao Shuai                79    China PR               Beijing Renhe FC
Xiao Mingjie              66    China PR               Shanghai SIPG FC
Zhang Wei                 75    China PR         Hebei China Fortune FC
Wang Haijian              74    China PR  Shanghai Greenland Shenhua FC
Pan Ximing                78    China PR         Hebei China Fortune FC

[18278 rows x 3 columns]

### Exercise: Boolean conditions with iloc[]
21. Select players taller than 185 cm

22. Select players younger than 20 AND weigh less than 70 kg

23. Select players from Argentina OR Brazil

In [77]:
#21
df.iloc[list(df['height_cm']>185),:]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
K. Koulibaly,Kalidou Koulibaly,28,1991-06-20,187,89,Senegal,Napoli
...,...,...,...,...,...,...,...
Liu Guobo,刘国博,19,1999-11-27,189,75,China PR,Beijing Sinobo Guoan FC
C. Heath,Connor Heath,18,2000-12-11,188,78,England,Crewe Alexandra
P. Martin,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC

In [79]:
#22
df.iloc[list((df['age']<20) & (df['weight_kg']<70)),:]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
P. Foden,Philip Foden,19,2000-05-28,171,69,England,Manchester City
Rodrygo,Rodrygo Silva de Goes,18,2001-01-09,174,64,Brazil,Real Madrid
Kangin Lee,이강인 Kangin Lee,18,2001-02-19,173,61,Korea Republic,Valencia CF
B. Kamara,Boubacar Kamara,19,1999-11-23,178,68,France,Olympique de Marseille
M. Diaby,Moussa Diaby,19,1999-07-07,170,65,France,Bayer 04 Leverkusen
...,...,...,...,...,...,...,...
E. Jääskeläinen,Emil Jääskeläinen,18,2001-03-16,183,66,Finland,Blackpool
L. Collins,Lewis Collins,18,2001-05-09,178,67,Wales,Newport County
H. Shirai,白井 陽斗,19,1999-10-23,170,60,Japan,Gamba Osaka
F. Nevarez,Francisco Nevarez,18,2000-12-03,178,69,Mexico,FC Juárez
L. Offord,Luke Offord,19,1999-11-19,170,66,England,Crewe Alexandra

In [124]:
#23
df.iloc[list((df['nationality'] == 'Argentina') | (df['nationality']=='Brazil')),:]  # correct but same result can be obtained by using isin()
df.iloc[list(df['nationality'].isin(['Argentina', 'Brazil']))]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
Alisson,Alisson Ramses Becker,26,1992-10-02,191,91,Brazil,Liverpool
S. Agüero,Sergio Leonel Agüero del Castillo,31,1988-06-02,173,70,Argentina,Manchester City
P. Dybala,Paulo Bruno Exequiel Dybala,25,1993-11-15,177,75,Argentina,Juventus
...,...,...,...,...,...,...,...
G. Bruna,Gerardo Alfredo Bruna Blanco,28,1991-02-21,170,64,Argentina,Derry City
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors
Nicolas Firmino,Elio Nicolas Firmino,18,2001-01-30,180,70,Brazil,New England Revolution
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors

### Exercise: Mixed logic selection

24. Get the top 50 players where height is between 175 & 180

25. Get the first 30 players where nationality starts with "A"

In [94]:
#24
df.iloc[list((df['height_cm']>175) & (df['height_cm']<180))] # not correct

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
K. Mbappé,Kylian Mbappé,20,1998-12-20,178,73,France,Paris Saint-Germain
A. Griezmann,Antoine Griezmann,28,1991-03-21,176,73,France,FC Barcelona
P. Dybala,Paulo Bruno Exequiel Dybala,25,1993-11-15,177,75,Argentina,Juventus
Fernandinho,Fernando Luiz Rosa,34,1985-05-04,179,67,Brazil,Manchester City
J. Kimmich,Joshua Kimmich,24,1995-02-08,176,73,Germany,FC Bayern München
...,...,...,...,...,...,...,...
Zhang Yufeng,张宇峰,21,1998-01-05,178,76,China PR,Beijing Renhe FC
J. Ryan,Jack Ryan,19,2000-02-07,178,75,Republic of Ireland,UCD AFC
M. Gallagher,Michael Gallagher,18,2000-07-09,178,70,Republic of Ireland,Finn Harps
M. Sagaf,Mohammed Sagaf,21,1997-11-12,177,70,England,Carlisle United
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC

In [96]:
#25
df.iloc[list(df['nationality'].str.startswith('A'))]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
P. Dybala,Paulo Bruno Exequiel Dybala,25,1993-11-15,177,75,Argentina,Juventus
R. Mahrez,Riyad Mahrez,28,1991-02-21,179,67,Algeria,Manchester City
G. Lo Celso,Giovani Lo Celso,23,1996-04-09,177,68,Argentina,Tottenham Hotspur
L. Biglia,Lucas Rodrigo Biglia,33,1986-01-30,178,63,Argentina,Milan
M. Sabitzer,Marcel Sabitzer,25,1994-03-17,177,77,Austria,RB Leipzig
...,...,...,...,...,...,...,...
L. D'Arrigo,Louis D'Arrigo,17,2001-09-23,178,70,Australia,Adelaide United
J. Simmons,Jack Simmons,17,2002-04-04,178,68,Australia,Newcastle Jets
J. Barnett,Jay Barnett,18,2001-02-14,179,75,Australia,Melbourne Victory
P. Langlois,Patrick Langlois,19,1999-10-28,179,78,Australia,Newcastle Jets
K. Trewin,Kai Trewin,18,2001-05-18,178,72,Australia,Brisbane Roar

### Exercise: Combine slicing + boolean masking

In [110]:
# From the first 500 rows, select rows where:

#   height > 175

#   AND weight < 75

#   Only return columns age, dob, height, weight

In [112]:
df_500 = df.head(500)
df_500.iloc[ list((df_500['height_cm']> 175) & (df_500['weight_kg']<75))]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
K. Mbappé,Kylian Mbappé,20,1998-12-20,178,73,France,Paris Saint-Germain
A. Griezmann,Antoine Griezmann,28,1991-03-21,176,73,France,FC Barcelona
Fernandinho,Fernando Luiz Rosa,34,1985-05-04,179,67,Brazil,Manchester City
J. Kimmich,Joshua Kimmich,24,1995-02-08,176,73,Germany,FC Bayern München
M. Pjanić,Miralem Pjanić,29,1990-04-02,178,72,Bosnia Herzegovina,Juventus
...,...,...,...,...,...,...,...
A. McGeady,Aiden McGeady,33,1986-04-04,177,71,Republic of Ireland,Sunderland
S. Naismith,Steven Naismith,32,1986-09-14,178,72,Scotland,Heart of Midlothian
O. Veigneau,Olivier Veigneau,33,1985-07-16,176,70,France,Kasimpaşa SK
C. Keșerü,Claudiu Andrei Keșerü,32,1986-12-02,178,71,Romania,Romania
I. Sosa,Víctor Ismael Sosa,32,1987-01-18,178,71,Argentina,Club León

### Exercise: Multi-step challenge

    1. Take the first 1000 rows

    2. Filter players older than 30

    3. From those rows, select only columns: 'long_name','height_cm','club'

    4. Show the first 10 rows of that result

In [117]:
df_1000 = df.head(1000)
df_1000.iloc[list(df_1000['age']>30),[0,3,6]].head(10)

                                  long_name  height_cm             club
short_name
Fernandinho              Fernando Luiz Rosa        179  Manchester City
Iago Aspas                Iago Aspas Juncal        176         RC Celta
Lucas Leiva            Lucas  Pezzini Leiva        179            Lazio
José Callejón     José María Callejón Bueno        178           Napoli
Falcao         Radamel Falcao García Zárate        177        AS Monaco
R. Nainggolan              Radja Nainggolan        176         Cagliari
J. Cuadrado                   Juan Cuadrado        179         Juventus
L. Biglia              Lucas Rodrigo Biglia        178            Milan
J. Vardy                        Jamie Vardy        179   Leicester City
Cesc Fàbregas     Francesc Fàbregas i Soler        179        AS Monaco