Practice Sheet (lambda Function)

In [1]:
import pandas as pd

In [27]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name',inplace=True)
df=df.iloc[:,2:9]

In [6]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

 Exercise #1:
    -Task: Create a new column 'height_m' by dividing height_cm by 100

In [ ]:
col_1 = df['height_cm'].apply(lambda x: x/100)
df.insert(1,'height_m',col_1)

In [21]:
# added new col at index 1
df.head()

,long_name,height_m,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,1.70,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1.87,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,1.75,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,1.88,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,1.75,28,1991-01-07,175,74,Belgium,Real Madrid

In [28]:
df['height_m'] = df['height_cm'].apply(lambda x: x/100)
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75

### Exercise 2: Conditional Logic

Task: Create 'age_group' column:
 
 - 'Young' if age < 23

 - 'Prime' if age between 23-30

 - 'Veteran' if age > 30

In [29]:
df['age_group'] = df['age'].apply(lambda x:"Young" if x<23 else("Prime" if x<=30 else "Veteran"))

In [30]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group
short_name,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime

### Exercise 5: Boolean Mapping
    - Task: Create 'is_tall' column (True if height_cm > 180, False otherwise)

In [35]:
df['is_tall'] = df['height_cm'].apply(lambda x: True if x> 180 else False)

In [36]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group,is_tall
short_name,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran,False
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran,True
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime,False
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime,True
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime,False

## Intermediate Exercise

### Exercise 1.0: Multiple Column Calculations

 Task: Create 'bmi_category' based on BMI:

 - 'Underweight': BMI < 18.5

 - 'Normal': BMI 18.5-24.9

 - 'Overweight': BMI 25-29.9

 - 'Obese': BMI >= 30

In [47]:
df['bmi'] = df.apply(lambda x:x['weight_kg']/ (x['height_cm']/100) ** 2,axis=1)

In [48]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group,is_tall,bmi,category_bmi
short_name,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran,False,24.913495,Overweight
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran,True,23.735308,Normal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime,False,22.204082,Normal
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime,True,24.615211,Normal
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime,False,24.163265,Normal

In [44]:
df['category_bmi'] = df['bmi'].apply(lambda x:'Underweight' if x < 18.5 else('Normal' if x<=24.9 else('Overweight' if x<=29.9 else 'Obese')))

In [46]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group,is_tall,bmi,category_bmi
short_name,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran,False,24.913495,Overweight
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran,True,23.735308,Normal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime,False,22.204082,Normal
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime,True,24.615211,Normal
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime,False,24.163265,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,1.86,Young,True,22.835010,Normal
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,1.77,Young,False,21.066743,Normal
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,1.86,Young,True,21.678807,Normal
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,1.85,Young,True,21.621622,Normal
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,1.82,Prime,True,23.547881,Normal

### Exercise 2: String Manipulation

    - Task: Create 'name_word_count' that counts words in long_name

In [49]:
df['name_word_count'] = df['long_name'].apply(lambda x: len(x.split()))

In [50]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group,is_tall,bmi,category_bmi,name_word_count
short_name,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran,False,24.913495,Overweight,4
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran,True,23.735308,Normal,5
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime,False,22.204082,Normal,5
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime,True,24.615211,Normal,2
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime,False,24.163265,Normal,2

### Exercise 3: Complex Conditional

 Task: Create 'recommendation' column:

    - 'Top Priority' if age < 25 and height_cm > 180

    - 'Consider' if age < 28 and weight_kg < 80

    - 'Pass' otherwise

In [52]:
df['recommendation'] = df.apply(lambda x: 'Top Priority' if x['age'] < 25 and x['height_cm']>180 else ('Consider' if x['age']<28 and x['weight_kg'] <80 else 'Pass'), axis=1)

In [54]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group,is_tall,bmi,category_bmi,name_word_count,recommendation
short_name,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran,False,24.913495,Overweight,4,Pass
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran,True,23.735308,Normal,5,Pass
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime,False,22.204082,Normal,5,Consider
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime,True,24.615211,Normal,2,Pass
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime,False,24.163265,Normal,2,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,1.86,Young,True,22.835010,Normal,1,Top Priority
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,1.77,Young,False,21.066743,Normal,2,Consider
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,1.86,Young,True,21.678807,Normal,1,Top Priority
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,1.85,Young,True,21.621622,Normal,1,Top Priority
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,1.82,Prime,True,23.547881,Normal,1,Consider

### Exercise 4: Working with dates

Calculate years until retirement (assume retirement at 35)

Create 'years-to-retirement' col

In [57]:
df['year_to_retirement'] = df['age'].apply(lambda x: max(0,35-x))

In [58]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group,is_tall,bmi,category_bmi,name_word_count,recommendation,year_to_retirement
short_name,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran,False,24.913495,Overweight,4,Pass,3
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran,True,23.735308,Normal,5,Pass,1
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime,False,22.204082,Normal,5,Consider,8
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime,True,24.615211,Normal,2,Pass,9
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime,False,24.163265,Normal,2,Pass,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,1.86,Young,True,22.835010,Normal,1,Top Priority,13
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,1.77,Young,False,21.066743,Normal,2,Consider,13
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,1.86,Young,True,21.678807,Normal,1,Top Priority,16
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,1.85,Young,True,21.621622,Normal,1,Top Priority,17
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,1.82,Prime,True,23.547881,Normal,1,Consider,9

### Exercise 5: String Search

 Task: Create 'is_south_american' (True for Brazil, Argentina, Uruguay, Colombia, Chile)

In [65]:
american = ['Brazil', 'Argentina', 'Uruguay', 'Colombia', 'Chile']

df['is_south_american'] = df['nationality'].apply(lambda x:'True' if x in american else 'False')

In [66]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club,height_m,age_group,is_tall,bmi,category_bmi,name_word_count,recommendation,year_to_retirement,is_south_american
short_name,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,1.70,Veteran,False,24.913495,Overweight,4,Pass,3,True
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,1.87,Veteran,True,23.735308,Normal,5,Pass,1,False
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,1.75,Prime,False,22.204082,Normal,5,Consider,8,True
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,1.88,Prime,True,24.615211,Normal,2,Pass,9,False
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,1.75,Prime,False,24.163265,Normal,2,Pass,7,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,1.86,Young,True,22.835010,Normal,1,Top Priority,13,False
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,1.77,Young,False,21.066743,Normal,2,Consider,13,False
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,1.86,Young,True,21.678807,Normal,1,Top Priority,16,False
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,1.85,Young,True,21.621622,Normal,1,Top Priority,17,False
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,1.82,Prime,True,23.547881,Normal,1,Consider,9,False