In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df.iloc[:,2:9]
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

### query method()

In [5]:
# syntax = df.query("condition")
df.query("age>32").head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid
G. Chiellini,Giorgio Chiellini,34,1984-08-14,187,85,Italy,Juventus
Sergio Ramos,Sergio Ramos García,33,1986-03-30,184,82,Spain,Real Madrid
S. Handanovič,Samir Handanovič,34,1984-07-14,193,92,Slovenia,Inter

In [7]:
# players older than 32 and belong to the england
df.query("age>32 and nationality=='England'").head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
J. Milner,James Philip Milner,33,1986-01-04,175,70,England,Liverpool
W. Rooney,Wayne Mark Rooney,33,1985-10-24,176,83,England,DC United
B. Foster,Ben Foster,36,1983-04-03,193,90,England,Watford
T. Heaton,Tom Heaton,33,1986-04-15,187,92,England,Aston Villa
A. Young,Ashley Young,33,1985-07-09,175,65,England,Manchester United

### 'Not Operator'

In [11]:
# player older than 32 using not operator
df.query("not age<=32").head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid
G. Chiellini,Giorgio Chiellini,34,1984-08-14,187,85,Italy,Juventus
Sergio Ramos,Sergio Ramos García,33,1986-03-30,184,82,Spain,Real Madrid
S. Handanovič,Samir Handanovič,34,1984-07-14,193,92,Slovenia,Inter

In [13]:
# Convert height to meter and select those wwith height above 1.8
df.query("height_cm/100>1.8").head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool

#### .dtypes function
it tells us the data types of all the cols in df

In [14]:
df.dtypes

long_name      object
age             int64
dob            object
height_cm       int64
weight_kg       int64
nationality    object
club           object
dtype: object

#### .astype() function
function to change the data type

In [37]:
df['dob'] = df['dob'].astype('datetime64[us]') # dob is datetime type
# extract year from dob
df.query("dob.dt.year > 1990").head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona