In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df= df.iloc[:,2:9]
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

### Sample method
it is used to get the random sample from the dataframe
syntax= df['col name].sample(count)

In [16]:
df['club'].sample(5, random_state= 3) # random_state use to store the randomly genereate df

short_name
G. Mhango            Orlando Pirates
Adryan                       FC Sion
L. Quintana                 U.N.A.M.
J. Stojanović            KV Kortrijk
Narcisso Mau     Ceará Sporting Club
Name: club, dtype: object

In [19]:
#Extract a random 20% sampleof the df
#df.sample(898/0.5) # either total by 20%

df.sample(frac=0.2) # either by frac method

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
A. Al Saluli,Awn Al Saluli,20,1998-09-02,195,80,Saudi Arabia,Al Fayha
Z. Zlámal,Zdeněk Zlámal,33,1985-11-05,193,92,Czech Republic,Heart of Midlothian
L. Doucouré,Lassana Doucouré,28,1991-01-24,196,79,France,FC Chambly Oise
R. Bengtsson,Rasmus Bengtsson,33,1986-06-26,186,80,Sweden,Malmö FF
S. Farelli,Simone Farelli,36,1983-02-19,186,82,Italy,Pescara
...,...,...,...,...,...,...,...
M. Mleczko,Miłosz Mleczko,20,1999-03-01,191,84,Poland,Lech Poznań
T. Wilson,Tyreke Wilson,19,1999-12-02,172,66,Republic of Ireland,Manchester City
M. Herrera,Marcelo Herrera,20,1998-11-03,180,71,Argentina,San Lorenzo de Almagro
Wang Min,王敏,24,1995-01-12,193,85,China PR,Chongqing Dangdai Lifan FC SWM Team
T. Takagi,髙木 俊幸,28,1991-05-25,170,64,Japan,Cerezo Osaka