In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name','age','dob','height_cm','weight_kg','nationality','club']]
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

### .loc() method

#### Selecting elements using loc method

In [9]:
# select all data of L.Messi
df.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [12]:
# get the height of the L. Messi	
df.loc['L. Messi', 'height_cm']

np.int64(170)

In [ ]:
# to get all col elements of one col
df.loc[:,'weight_kg']

short_name
L. Messi             72
Cristiano Ronaldo    83
Neymar Jr            68
J. Oblak             87
E. Hazard            74
                     ..
Shao Shuai           79
Xiao Mingjie         66
Zhang Wei            75
Wang Haijian         74
Pan Ximing           78
Name: weight_kg, Length: 18278, dtype: int64

In [15]:
# to select all the row elements in one row
df.loc['E. Hazard', :]

long_name      Eden Hazard
age                     28
dob             1991-01-07
height_cm              175
weight_kg               74
nationality        Belgium
club           Real Madrid
Name: E. Hazard, dtype: object

### Select with a list of values

In [17]:
# To select two indexes
df.loc[['E. Hazard', 'L. Messi']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona

In [18]:
# To select the height of two indexes
df.loc[['E. Hazard', 'L. Messi'], 'height_cm']

short_name
E. Hazard    175
L. Messi     170
Name: height_cm, dtype: int64

In [19]:
# to get height and weight of two players.
df.loc [['L. Messi', 'E. Hazard'], ['weight_kg', 'height_cm']]

            weight_kg  height_cm
short_name
L. Messi           72        170
E. Hazard          74        175

### Select the data using slice

slice : is use to select rows/cols, start:stop both start and stop are included.

In [29]:
# To select the cols using slice
player = ['L. Messi', 'E. Hazard']
df.loc[player, 'age':'club']

            age         dob  height_cm  weight_kg nationality          club
short_name
L. Messi     32  1987-06-24        170         72   Argentina  FC Barcelona
E. Hazard    28  1991-01-07        175         74     Belgium   Real Madrid

In [51]:
# To select the data from rows using slice
# get top 5 players

top = df.index[:10]
df.loc[top, 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
L. Modrić,33,1985-09-09,172,66,Croatia,Real Madrid
M. Salah,27,1992-06-15,175,71,Egypt,Liverpool

### Selecting data with conditions

In [43]:
# select the data of the players who's height is more that 180cm
df.loc[df['height_cm']> 180, 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus
J. Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
K. De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
...,...,...,...,...,...,...
P. Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC
Shao Shuai,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Zhang Wei,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [49]:
# select the players who's weight is more than 75 kg and from Germany
df.loc[(df['weight_kg']>75) & (df['nationality']== 'Germany'), 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
M. ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
M. Neuer,33,1986-03-27,193,92,Germany,FC Bayern München
T. Kroos,29,1990-01-04,183,76,Germany,Real Madrid
M. Hummels,30,1988-12-16,191,94,Germany,Borussia Dortmund
N. Süle,23,1995-09-03,195,97,Germany,FC Bayern München
...,...,...,...,...,...,...
B. Voll,18,2000-12-09,195,85,Germany,FC Hansa Rostock
T. Kretzschmar,20,1999-01-19,185,78,Germany,TSV 1860 München
L. Schellenberg,18,2000-08-02,183,78,Germany,FC Ingolstadt 04
N. Stephan,18,2000-08-24,191,84,Germany,FC Würzburger Kickers
M. Harsman,19,1999-10-04,190,80,Germany,SV Meppen