In [1]:
import pandas as pd

In [155]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df.iloc[:,2:9]
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

### Exercise: Setting single values
1) Change Neymar Jr‚Äôs age to 28 using .loc.
2) Update Cristiano Ronaldo‚Äôs club to "Al Nassr".
3) Set the weight_kg of "L. Messi" to 70.
4) Change "J. Oblak"‚Äôs nationality to "Slovenia üá∏üáÆ" (emoji included).
5) Fix "E. Hazard"‚Äôs birth year: change dob to "1991-01-07" (correct format).

In [7]:
#1
df.loc['Neymar Jr', 'age'] = 28 
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [13]:
#2
df.loc['Cristiano Ronaldo', 'club'] = 'Al Nassr'
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Al Nassr
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [14]:
#3
df.loc['L. Messi', 'weight_kg'] = 70
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,70,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Al Nassr
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [16]:
df.loc['J. Oblak', 'nationality'] = 'Slovenia üá∏üáÆ'
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,70,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Al Nassr
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia üá∏üáÆ,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [18]:
#5
df.loc['E. Hazard', 'dob'] = "1991-01-12"
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,70,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Al Nassr
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia üá∏üáÆ,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-12,175,74,Belgium,Real Madrid

### Exercise: Updating whole rows and columns

6) Set the entire row of the 5th player (index position 4) to NaN.
7) Set the entire ‚Äúclub‚Äù column to "Unknown Club".
8) Replace the height of the first 100 players with a fixed value: 180.
9) For the last 10 players, set their age to age + 1 (increment by 1).
10) Set the height_cm AND weight_kg of the first 20 players to 0.

In [21]:
#6
import numpy as np
df.iloc[4,:] = np.nan
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32.0,1987-06-24,170.0,70.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,187.0,83.0,Portugal,Al Nassr
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia üá∏üáÆ,Atl√©tico Madrid
E. Hazard,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
#7
df.iloc[:,6] = 'Unknown Club'
df.head()
df.tail()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Shao Shuai,ÈÇµÂ∏Ö,22,1997-03-10,186,79,China PR,Unknown Club
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Unknown Club
Zhang Wei,Âº†Â®Å,19,2000-05-16,186,75,China PR,Unknown Club
Wang Haijian,Ê±™Êµ∑ÂÅ•,18,2000-08-02,185,74,China PR,Unknown Club
Pan Ximing,ÊΩòÂñúÊòé,26,1993-01-11,182,78,China PR,Unknown Club

In [89]:
#8
df.iloc[0:101,3] = 180
df.iloc[90]
df.tail(10)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Gallagher,Michael Gallagher,18,2000-07-09,178,70,Republic of Ireland,Finn Harps
Huang Jiahui,Jiahui Huang,18,2000-10-07,183,74,China PR,Dalian YiFang FC
M. Sagaf,Mohammed Sagaf,21,1997-11-12,177,70,England,Carlisle United
E. Tweed,Evan Tweed,20,1999-03-01,180,72,Republic of Ireland,Derry City
P. Martin,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC
Shao Shuai,ÈÇµÂ∏Ö,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,Âº†Â®Å,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,Ê±™Êµ∑ÂÅ•,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,ÊΩòÂñúÊòé,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [ ]:
#9
#filter the last ten player
df_10 = df.index[-10:]
df_9 = df.loc[df_10,'age'] = df.loc[df_10,'age'] + 1
df_9.tail(10) # compare age with upper df # it keeps add one every time I run this cell

short_name
Huang Jiahui    20
M. Sagaf        23
E. Tweed        22
P. Martin       22
Shao Shuai      24
Xiao Mingjie    24
Zhang Wei       28
Zhang Wei       21
Wang Haijian    20
Pan Ximing      28
Name: age, dtype: int64

In [100]:
#10
df.iloc[:20,(3,4)] = 0
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,0,0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,0,0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,0,0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,0,0,Slovenia,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,0,0,Belgium,Real Madrid

### Exercise: Multiple cells, conditions and Lists

In [123]:
# 11) Set the nationality of players whose short_name starts with ‚ÄúM‚Äù to "Unknown".
df_m = df.index.str.startswith('M')
df.loc[df_m,'nationality'] = 'Unknown'
df['nationality'].value_counts()

nationality
Unknown        1994
England        1531
Germany        1012
Spain           951
France          875
               ...
Malawi            1
Gibraltar         1
Macau             1
South Sudan       1
Indonesia         1
Name: count, Length: 162, dtype: int64

In [ ]:
#12 
# For Players from brazil: height_cm +=2; weight_kg+=1
df_brazil  = df['nationality'] == 'Brazil'
df.loc[df_brazil,'height_cm'] = df.loc[df_brazil, 'height_cm'] + 2
df.loc[df_brazil,'weight_kg'] = df.loc[df_brazil,'weight_kg'] + 1
df.head()
# Neymar Jr actually height is 175 in df.

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,177,69,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

13) For players younger than 20, set:

club = "Youth Academy"

height_cm = 170

weight_kg = 65

In [141]:
df_20 = df['age'] <30
df.loc[df_20,'club'] = "Youth Academy"
df.loc[df_20,'height_cm'] = 170
df.loc[df_20,'weight_kg'] = 65
df.head(15)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,170,65,Brazil,Youth Academy
J. Oblak,Jan Oblak,26,1993-01-07,170,65,Slovenia,Youth Academy
E. Hazard,Eden Hazard,28,1991-01-07,170,65,Belgium,Youth Academy
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,170,65,Belgium,Youth Academy
M. ter Stegen,Marc-Andr√© ter Stegen,27,1992-04-30,170,65,Germany,Youth Academy
V. van Dijk,Virgil van Dijk,27,1991-07-08,170,65,Netherlands,Youth Academy
L. Modriƒá,Luka Modriƒá,33,1985-09-09,172,66,Croatia,Real Madrid
M. Salah,Mohamed Salah Ghaly,27,1992-06-15,170,65,Egypt,Youth Academy
K. Mbapp√©,Kylian Mbapp√©,20,1998-12-20,170,65,France,Youth Academy
K. Koulibaly,Kalidou Koulibaly,28,1991-06-20,170,65,Senegal,Youth Academy
H. Kane,Harry Kane,25,1993-07-28,170,65,England,Youth Academy
Alisson,Alisson Ramses Becker,26,1992-10-02,170,65,Brazil,Youth Academy
De Gea,David De Gea Quintana,28,1990-11-07,170,65,Spain,Youth Academy

###
14Select these players and update their value in one shot:

['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'K. De Bruyne']

Set age = 99

In [ ]:
#14
arson = ['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'K. De Bruyne']
df.loc[arson,'age'] = 99
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,99,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,99,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,99,1992-02-05,170,65,Brazil,Youth Academy
J. Oblak,Jan Oblak,26,1993-01-07,170,65,Slovenia,Youth Academy
E. Hazard,Eden Hazard,28,1991-01-07,170,65,Belgium,Youth Academy

In [151]:
#15 set dob = 2000-01-01  for all players whose weight is more than 70
df_weight = df['weight_kg'] >70
df.loc[df_weight,'dob'] = '2000-01-01'
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andr√©s Messi Cuccittini,99,2000-01-01,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,99,2000-01-01,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,99,1992-02-05,170,65,Brazil,Youth Academy
J. Oblak,Jan Oblak,26,1993-01-07,170,65,Slovenia,Youth Academy
E. Hazard,Eden Hazard,28,1991-01-07,170,65,Belgium,Youth Academy

In [156]:
#16 For chinese players, set club and increment age by 2
df_china = df['nationality'] == 'China PR'
df.loc[df_china,'club'] = 'China ppl'
df.loc[df_china,'height_cm'] = df.loc[df_china,'height_cm'] + 2
df.tail()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Shao Shuai,ÈÇµÂ∏Ö,22,1997-03-10,188,79,China PR,China ppl
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,179,66,China PR,China ppl
Zhang Wei,Âº†Â®Å,19,2000-05-16,188,75,China PR,China ppl
Wang Haijian,Ê±™Êµ∑ÂÅ•,18,2000-08-02,187,74,China PR,China ppl
Pan Ximing,ÊΩòÂñúÊòé,26,1993-01-11,184,78,China PR,China ppl

In [161]:
#19 Set entire row of the bottom 5 players to 0
df_last = df.index[-5:]
df.loc[df_last,:] = 0
df.tail()

             long_name  age dob  height_cm  weight_kg nationality club
short_name
Shao Shuai           0    0   0          0          0           0    0
Xiao Mingjie         0    0   0          0          0           0    0
Zhang Wei            0    0   0          0          0           0    0
Wang Haijian         0    0   0          0          0           0    0
Pan Ximing           0    0   0          0          0           0    0