In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df.loc[:, 'long_name':'club']
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

### Set value to one cell

syntax= first select one column/row/cell ,then set its vlaues

In [13]:
# update messi height to 176cm
df.loc['L. Messi', 'height_cm']= 176
df.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,176,72,Argentina,FC Barcelona

### Set value to an entire row

In [15]:
# set height of all player to 180cm
df.loc[:,'height_cm']= 180
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,180,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,180,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,180,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,180,74,Belgium,Real Madrid

### Set value to entire row

In [19]:
# Set null to all columns of last ranked player in df
import numpy as np
np.nan

df.iloc[-1] = np.nan # instead of using -1 we can simply set the index
df.tail()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Shao Shuai,邵帅,22.0,1997-03-10,180.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,180.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,180.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,180.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Set value to Multiple cells

In [24]:
# set height of two players to 175cm
df.iloc[[0,1], 3] = 175 # here we can either select multiple cols as well
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,180.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,180.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,180.0,74.0,Belgium,Real Madrid

### set value for rows matching a conditions

In [26]:
# set the value for these cols = age, height, weight and club for those player whose height is more than 180
cols = ['age', 'height_cm', 'weight_kg', 'club']

df.loc[df['height_cm']> 180, cols] = 180
df.head(10)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,180.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,180.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,180.0,74.0,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28.0,1991-06-28,180.0,70.0,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27.0,1992-04-30,180.0,85.0,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27.0,1991-07-08,180.0,92.0,Netherlands,Liverpool
L. Modrić,Luka Modrić,33.0,1985-09-09,180.0,66.0,Croatia,Real Madrid
M. Salah,Mohamed Salah Ghaly,27.0,1992-06-15,180.0,71.0,Egypt,Liverpool